# Usage of .env.dev ( .env ) is necessary only if you are developing fed

OLLAMA_ENDPOINT=http://localhost:11434/api
OLLAMA_MODEL=qwen2.5-coder:3b
GEMINI_TOKEN=fwerfwerfjrew
GEMINI_MODEL=gemini-2.5-flash
